@import url("https://acutewoof.is-a.dev/minimalist-css-kit/styles/main.css");
@import url("./nord.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

h1,
h2,
h3,
h4,
h5,
* {
  font-family: Rubik, Roboto, sans-serif;
  text-align: justify;
  box-shadow: none;
}

hr {
  border-color: var(--nord10);
  border-style: solid;
}

body {
  background-image: url("./wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.card {
  box-shadow: 0px 0px 0px var(--nord1);
  padding: 5%;
  margin: 0;
  height: 55vh;
  width: 55vw;
  background: none;
}

.icon-and-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.logo {
  height: 90%;
  box-shadow: 0px 0px 10px var(--nord1);
}

main {
  width: fit-content;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a.button:hover {
  text-decoration: none;
  color: none;
  background-color: none;
}

.logo-container.mobile {
  display: none;
}

.scroll {
  overflow: auto;
  height: 55vh;
  max-height: 55vh;
  max-width: 55vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

p {
  padding-right: 10%;
}

.ss-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ss {
  width: 100%;
  height: fit-content;
}

footer {
  background-color: #00000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: unset;
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
}

footer * {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--nord4);
}

footer span a:hover i {
  text-decoration: none;
  background-color: #00000000;
  color: var(--nord10);
}

footer a:hover {
  text-decoration: none;
  background-color: #00000000;
  color: var(--nord10);
}

@media only screen and (max-width: 800px) {
  .icon-and-content {
    display: block;
  }
  .logo-container {
    display: none;
  }
  .logo-container.mobile {
    display: block;
  }
  .logo {
    height: 30%;
  }
  .card {
    height: 90vh;
    width: 90vw;
    max-height: 90vh;
    max-width: 90vw;
    text-align: center;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  * {
    text-align: center;
  }
  .scroll {
    max-width: 90vw;
    overflow: auto;
  }
  .content-ultra-padding {
    padding: 0;
  }
  body {
    overflow: auto;
  }
  p {
    padding-right: 0;
  }
  footer {
    grid-gap: 0.5rem;
  }
  .desktop {
    display: none;
  }
  footer {
    max-height: 20vh;
  }
}
